.entry-container {
  background-color: #EFEAE6;
  /* isabelline */
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 500px;
  margin: 20px auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  color: #4B4A67;
  /* english-violet */

}

.entry-container form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.entry-container form input,
.entry-container form textarea,
.entry-container form button {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.entry-container form button {
  background-color: #8DB580;
  /* olivine */
  color: white;
  cursor: pointer;
}